
*.o
*.exe
*.txt
codeforces/1500-1600/B. Fox And Two Dots
codeforces/1500-1600/B. Array
codeforces/1500-1600/C. Fox And Names
codeforces/1500-1600/B. Array.cpp
codeforces/1500-1600/B. Array.cpp
codeforces/1500-1600/B. Array.cpp
codeforces/1500-1600/B. Convex Shape
codeforces/1500-1600/A. Little Elephant and Problem
